    .card {
        background-color: var(--Mint);
        /* background: linear-gradient(45deg, var(--Teal) 0%, var(--Lime) 100%); */
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); 
        color: var(--Navy);
        margin: 1vh auto;
        border-radius: 10px;
        width: 60vh;
    }

        .cat_img{
            border-radius: 10px 10px 0 0;
            width: 60vh;
        }

        .cat_fact{
            padding: 2vh 4vh 5vh;
            font-weight: 500;
        }

        .firstTime{
            padding: 3vh 4vh;
            font-weight: 600;
            color: var(--Navy);
        }