:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  color: rgba(73, 3, 101, 0.87);
  background-color: #e5d4f0;
}

body {
  margin: 0;
}

#app {
  margin: 0 auto;
  text-align: center;
}

