.ulFlex{
    display: flex;
    justify-content: space-around;
    margin: 3vh 0;
}

.inputLi {
    display: inline-block;
  }
  
  .radioInput {
    display: none;
  }
  
  .inputLabel {
    background-color: rgba(198, 1, 86, 0.3);
    padding: 0.7vh 2vh;
    border-radius: 50px;
    transition: 0.25s;
    &:hover{
        cursor: pointer;
        background-color: rgba(198, 1, 86, 0.5);
    }
  }
  
  .radioInput:checked + .inputLabel {
    background-color: var(--DarkPink);
  }