:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
    --Dark: #0B0C10;
    --DarkGrey: #293442;
    --Grey: #C5C6C7;
    --Blue: #66FCF1;
    --Aqua: #45A29E;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--Dark);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0 0 8vh 0;
  font-weight: bolder;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Header{
  padding: 1vh;
  color: var(--Blue);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 2px;
  }
 
  ::-webkit-scrollbar-thumb {
    background: var(--Aqua);
    border-radius: 2px; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #2b8782; 
  }