button {
  border-radius: 8px;
  padding: auto;
  margin: 0 1vh;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 12vw;
  height: 4vw;
}

button:hover{
  cursor: pointer;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.2);
}

  .mainBTN{
      background-color: #ff9934;
      color: white;
    }

    .mainBTN:hover{
      background-color: #ee8821;
    }

  .secondBTN{
      background-color: transparent;
      border: 3px solid #ff9934;
      color: #ff9934;
    }

    .secondBTN:hover{
      border: 3px solid #ee8821;
    }