:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--blue);
  --orange: #ff9934;
  --yellow: #f8f246;
  --lightBlue: #e1f1f2;
  --blue: #2cbbc3;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 15vh 2vw;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

a{
  color: var(--blue);
  text-decoration: none;
}

.is-current-page a{
  background-color: #1a999f;
  color: white;
  pointer-events: none;
}

.is-hover{
    color: white;
    background-color: var(--blue);
}