.fetchBtn {
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
    background-color: var(--Lime);
    background: linear-gradient(45deg, var(--Lime) 0%, var(--Teal) 100%);
    width: 30vh;
    height: 7vh;
    margin: 2vh;
    text-align: center;
    &:hover{
      transform: scale(1.1);
      background-color: var(--Teal);
      background: linear-gradient(45deg, var(--Teal) 0%, var(--Lime) 100%);
    }
    &:disabled{
      background: rgb(182, 182, 182);
      background-color: rgb(182, 182, 182);
    }
    &:disabled:hover{
      transform: scale(1);
      cursor: auto;
    }
    &:active {
      background-color: var(--Teal);
    }
  }