.sendBtn {
    border-radius: 0 10px 10px 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
    border: none;
    color: var(--Dark);
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    transition: 0.25s;
    background-color: var(--Blue);
    width: 12vh;
    height: 6vh;
    margin: 2vh 0;
    text-align: center;
    &:hover{
      border: 3px solid var(--Aqua);
      background-color: var(--Dark);
      color: white;
      font-weight: 500;
    }
    &:disabled{
      background-color: rgb(182, 182, 182);
    }
    &:disabled:hover{
      background-color: rgb(136, 136, 136);
      border: none;
    }
    &:active {
      font-size: large;
      background-color: var(--Aqua);
    }
  }