:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
    --DarkBlue: #000831;
    --Blue: #2785ea;
    --DarkPink: #c60156;
    --Pink: #F35D9B;
    --LightPink: #FF96CC;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--DarkBlue);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Header{
  padding: '1vh'
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 15px;
  }
 
  ::-webkit-scrollbar-thumb {
    background: var(--LightPink);
    border-radius: 15px; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--Pink); 
  }